@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
.fixall {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:hover, .fixall:focus {
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
}

body {
  font-family: os;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: rgba(51, 29, 52, 0.5);
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #f48d65;
}

html[dir=rtl] body {
  font-family: gulf;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #f48d65 rgba(51, 29, 52, 0.5);
}

.overflow {
  overflow: hidden !important;
}

.container {
  max-width: 1170px;
}

@font-face {
  font-family: "gulf";
  src: url("../fonts/Gulf/ArbFONTS-Gulf-regular.ttf");
}
@font-face {
  font-family: "g-med";
  src: url("../fonts/Gulf/Gulf-Medium.ttf");
}
@font-face {
  font-family: "g-bold";
  src: url("../fonts/Gulf/Gulf-Bold.ttf");
}
@font-face {
  font-family: "os";
  src: url("../fonts/Opensans/OpenSans.ttf");
}
@font-face {
  font-family: "os-light";
  src: url("../fonts/Opensans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "os-semibold";
  src: url("../fonts/Opensans/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "os-bold";
  src: url("../fonts/Opensans/OpenSans-Bold.ttf");
}
.form-main {
  background-color: #331d34;
  padding-top: 60px;
  padding-bottom: 200px;
}
@media (max-width: 767px) {
  .form-main {
    padding-top: 135px;
  }
}

.form {
  width: 529px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  padding: 1px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form:before {
  content: "";
  height: 6px;
  border-radius: 3px;
  background-color: #f27036;
  width: 248px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.form .input-label {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 70px;
}
.form .input-label:first-of-type {
  margin-top: 40px;
}
.form .form-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 1px solid #1b0e1c;
  color: #1b0e1c;
  font-size: 16px;
  padding: 0 15px;
  -moz-appearance: textfield;
  transition: 0.2s ease all;
  text-align: left;
}
.form .form-input:focus {
  border-bottom: 1px solid #f48d65;
}
.form .form-input::-webkit-inner-spin-button,
.form .form-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.form .floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #1b0e1c;
  font-family: os-bold;
  font-size: 16px;
  transition: 0.2s ease all;
}
.form .label-active {
  top: 0;
  left: 0;
  font-size: 13px;
  color: #fff;
  color: #331d34;
}
.form .note {
  color: #817682;
  font-family: os-light;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}
.form .show_hide {
  position: absolute;
  color: #817682;
  font-family: os-light;
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  cursor: pointer;
}
.form .hide {
  display: none;
}
.form .countries-cont {
  position: relative;
  width: 300px;
  margin-right: auto;
}
.form .countries-cont .selected-conutry {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  justify-content: flex-start;
}
.form .countries-cont .selected-conutry .arrow {
  width: 31px;
  height: 39px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.form .countries-cont .selected-conutry .arrow path {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form .countries-cont .country-name {
  color: #1b0e1c;
  font-size: 18px;
  margin-left: 14px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .form .countries-cont .country-name {
    font-size: 16px;
  }
}
.form .countries-cont .other-countries {
  width: 100%;
  background: #fff;
  position: absolute;
  border-radius: 0 0 4px 4px;
  padding: 5px 0;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form .countries-cont .other-countries .country-li {
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
}
.form .countries-cont .other-countries .country-li:hover .country-name {
  color: #f48d65;
}
.form .countries-cont:hover .selected-conutry {
  border-radius: 4px 4px 0 0;
}
.form .countries-cont:hover .selected-conutry .arrow path {
  fill: #f48d65;
}
.form .countries-cont:hover .other-countries {
  opacity: 1;
  visibility: visible;
}
.form .countries-head {
  color: #1b0e1c;
  font-family: os-bold;
  font-size: 16px;
  margin-top: 30px;
  display: block;
  margin-bottom: 17px;
  width: 100%;
}
.form .submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
  border-radius: 5px;
  background-color: #f27036;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 46px;
}
.form .submit-form:focus, .form .submit-form:hover {
  background-color: #1b0e1c;
  border: 1px solid #665e71;
  box-shadow: none;
}
.form .forgetpass {
  color: #1b0e1c;
  font-size: 16px;
  margin-bottom: 51px;
}
.form .forgetpass .forget-link {
  color: #1b0e1c;
  font-size: 16px;
  text-decoration: underline;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form .forgetpass .forget-link:hover {
  color: #f48d65;
  text-decoration: none;
}
.form .note-forget {
  color: #331d34;
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
}

.hint {
  width: 529px;
  min-height: 49px;
  border-radius: 10px;
  background-color: #ffde96;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  color: #331d34;
  font-size: 16px;
}
@media (max-width: 767px) {
  .hint {
    width: 100%;
    text-align: center;
    padding: 7px 0;
  }
}

html[dir=rtl] .form .form-input {
  text-align: right;
}
html[dir=rtl] .form .countries-cont {
  width: 265px;
}
@media (max-width: 767px) {
  html[dir=rtl] .form .countries-cont .country-name {
    font-size: 18px;
  }
}
html[dir=rtl] .form .countries-head {
  font-family: g-bold;
  text-align: right;
}
html[dir=rtl] .form .floating-label {
  right: 0;
  left: auto;
  font-family: g-bold;
}
html[dir=rtl] .form .label-active {
  right: 0;
  left: auto;
}
html[dir=rtl] .form .note {
  font-family: gulf;
  text-align: right;
}
html[dir=rtl] .form .show_hide {
  font-family: gulf;
  right: auto;
  left: 2px;
}
html[dir=rtl] .form .countries-cont {
  margin-right: 0;
  margin-left: auto;
}
html[dir=rtl] .form .countries-cont .country-name {
  margin-right: 14px;
  margin-left: 0;
}
html[dir=rtl] .form .note-forget {
  text-align: right;
}

.nav_list {
  display: flex;
  align-items: center;
  margin-left: 178px;
}
@media (max-width: 1199px) {
  .nav_list {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .nav_list {
    display: none;
  }
}
.nav_list .nav-item {
  margin-right: 53px;
}
.nav_list .nav-item .nav-anchor {
  color: #1b0e1c;
  font-size: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav_list .nav-item .nav-anchor:hover {
  color: #f48d65;
}
.nav_list .nav-item .register {
  width: 141px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 #000000;
  background-color: #331d34;
  border-radius: 5px;
  background-color: #211026;
  color: #fdfcfc;
}
.nav_list .nav-item .register:hover {
  color: #fff;
  background-color: #f48d65;
  box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
}
@media (max-width: 1199px) {
  .nav_list .nav-item {
    margin-right: 40px;
  }
}

html[dir=rtl] .nav_list {
  margin-left: 0;
  margin-right: 178px;
}
@media (max-width: 1199px) {
  html[dir=rtl] .nav_list {
    margin-left: 0;
    margin-right: 50px;
  }
}
html[dir=rtl] .nav_list .nav-item {
  margin-left: 53px;
  margin-right: 0;
}
html[dir=rtl] .nav_list .nav-item .nav-anchor {
  font-family: gulf;
  font-size: 16px;
}

@media (max-width: 767px) {
  .header-cont {
    justify-content: space-between;
  }
}

.mo-menu-open {
  display: none;
}
@media (max-width: 767px) {
  .mo-menu-open {
    display: flex;
    align-items: center;
    color: #1b0e1c;
    font-size: 14px;
  }
  .mo-menu-open img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  html[dir=rtl] .mo-menu-open img {
    -webkit-transform: unset;
    transform: unset;
    margin-left: 0;
    margin-right: 5px;
  }
}

.xs-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 29, 52, 0.95);
  display: flex;
  z-index: 999;
  padding-top: 40px;
  transform-origin: right;
  -moz-transform-origin: right;
  transform: scaleX(0);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.xs-nav.xs-open {
  transform-origin: left;
  -moz-transform-origin: right;
  transform: scaleX(1);
}
.xs-nav .xs-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.xs-nav .logo {
  max-width: 135px;
  display: inline-flex;
  margin: 0 19px;
}
.xs-nav .nav-cont {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 38px;
}
.xs-nav .nav_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 47px;
  padding-top: 15px;
}
.xs-nav .nav_list .nav-item {
  margin: 10px 0;
}
.xs-nav .lang-country {
  display: flex;
  align-items: center;
  height: 58px;
  border-top: 1px solid #dbd7db;
}
.xs-nav .lang-country .countries-cont {
  position: relative;
  width: 50%;
  height: 100%;
}
.xs-nav .lang-country .countries-cont .selected-conutry {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  border-right: 2px solid #f1f4f6;
}
.xs-nav .lang-country .countries-cont .selected-conutry .arrow {
  width: 31px;
  height: 39px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.xs-nav .lang-country .countries-cont .selected-conutry .arrow path {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.xs-nav .lang-country .countries-cont .country-flag {
  width: 65px;
  height: 39px;
  background-color: #3d9635;
  border-radius: 4px;
}
.xs-nav .lang-country .countries-cont .other-countries {
  width: 100%;
  background: #fff;
  position: absolute;
  border-radius: 0 0 4px 4px;
  padding: 5px 0;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.xs-nav .lang-country .countries-cont .other-countries .country-flag {
  border-radius: 4px;
  margin: 5px 0 0 auto;
}
.xs-nav .lang-country .countries-cont .other-countries .country-li {
  margin-left: 31px;
}
.xs-nav .lang-country .countries-cont:hover .selected-conutry {
  border-radius: 0;
}
.xs-nav .lang-country .countries-cont:hover .selected-conutry .arrow path {
  fill: #f48d65;
}
.xs-nav .lang-country .countries-cont:hover .other-countries {
  opacity: 1;
  visibility: visible;
}
.xs-nav .lang-country .lang {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: gulf;
  color: #1b0e1c;
  font-size: 16px;
  margin-left: auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-left: 2px solid #f1f4f6;
}
.xs-nav .lang-country .lang:hover {
  color: #f48d65;
}
.xs-nav .xsregister {
  width: 100%;
  height: 58px;
  box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
  border-radius: 5px;
  background-color: #f27036;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f27036;
  color: #fdfcfc;
  font-size: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
.xs-nav .xsregister:focus {
  background-color: transparent;
  border: 1px solid #665e71;
  box-shadow: none;
}
.xs-nav .xslogin {
  width: 100%;
  height: 57px;
  border-radius: 5px;
  border: 1px solid #665e71;
  color: #fdfcfc;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 16px;
}
.xs-nav .xslogin:focus {
  background-color: #f27036;
  border: 1px solid #f27036;
  box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
}

html[dir=rtl] .xs-nav {
  transform-origin: left;
  -moz-transform-origin: left;
}
html[dir=rtl] .xs-nav.xs-open {
  transform-origin: right;
  -moz-transform-origin: left;
  transform: scaleX(1);
}
html[dir=rtl] .xs-nav .nav_list {
  margin-left: 0;
  margin-right: 47px;
}
html[dir=rtl] .xs-nav .nav_list .nav-item {
  margin: 10px 0;
}
html[dir=rtl] .xs-nav .lang-country .countries-cont .selected-conutry {
  border-left: 2px solid #f1f4f6;
  border-right: none;
}
html[dir=rtl] .xs-nav .lang-country .countries-cont .other-countries .country-flag {
  margin: 5px auto 0 0;
}
html[dir=rtl] .xs-nav .lang-country .countries-cont .other-countries .country-li {
  margin-right: 31px;
  margin-left: 0;
}
html[dir=rtl] .xs-nav .lang-country .lang {
  font-family: os-semibold;
  border-right: 2px solid #f1f4f6;
  border-left: none;
}

header {
  background-color: #f1f4f6;
  padding-top: 35px;
}
header .logo {
  width: 160px;
}
@media (max-width: 767px) {
  header .logo {
    width: 135px;
  }
}
@media (max-width: 767px) {
  header {
    padding-top: 30px;
  }
}

.header-cont {
  display: flex;
  align-items: center;
}

.countries-cont {
  position: relative;
}
.countries-cont .selected-conutry {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.countries-cont .selected-conutry .arrow {
  width: 31px;
  height: 39px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.countries-cont .selected-conutry .arrow path {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .countries-cont .selected-conutry {
    display: none;
  }
}
.countries-cont .country-flag {
  width: 65px;
  height: 39px;
  background-color: #3d9635;
}
.countries-cont .other-countries {
  width: 65;
  background: #fff;
  position: absolute;
  border-radius: 0 0 4px 4px;
  padding: 5px 0;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: 0;
  z-index: 9;
}
.countries-cont .other-countries .country-flag {
  border-radius: 4px;
  margin: 5px 0 0 auto;
  background-color: transparent;
}
.countries-cont .other-countries .country-anchor {
  display: flex;
  margin-bottom: 5px;
}
.countries-cont:hover .selected-conutry {
  border-radius: 4px 4px 0 0;
}
.countries-cont:hover .selected-conutry .arrow path {
  fill: #f48d65;
}
.countries-cont:hover .other-countries {
  opacity: 1;
  visibility: visible;
}

html[dir=rtl] .countries-cont .other-countries {
  left: 0;
  right: auto;
}
html[dir=rtl] .countries-cont .other-countries .country-flag {
  border-radius: 4px;
  margin: 5px auto 0 0;
}

.lang {
  font-family: gulf;
  color: #1b0e1c;
  font-size: 16px;
  margin-left: auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.lang:hover {
  color: #f48d65;
}
@media (max-width: 767px) {
  .lang {
    display: none;
  }
}

html[dir=rtl] .lang {
  font-family: os-semibold;
  margin-left: 0;
  margin-right: auto;
}

header.black-page {
  background-color: #331d34;
}
header.black-page .header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.black-page .nav-cont {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header.black-page .nav-cont {
    display: none;
  }
}
header.black-page .log-anchor {
  color: #1b0e1c;
  font-size: 16px;
  width: 160px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #331d34;
  border-radius: 5px;
  background-color: transparent;
  color: #fdfcfc;
  border: 1px solid #665e71;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header.black-page .log-anchor:hover {
  color: #fff;
  background-color: #f48d65;
  border: 1px solid #ff996c;
}
header.black-page .has-account {
  color: #ffffff;
  font-size: 13px;
  margin-right: 28px;
  font-family: os-light;
}
header.black-page .mo-menu-open {
  display: none;
}
@media (max-width: 767px) {
  header.black-page .mo-menu-open {
    color: #fff;
    font-size: 14px;
    display: flex;
  }
  header.black-page .mo-menu-open svg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 5px;
  }
  header.black-page .mo-menu-open svg path {
    fill: #fff;
  }
}

html[dir=rtl] header.black-page .has-account {
  font-size: 12px;
  margin-left: 28px;
  margin-right: 0;
  font-family: gulf;
}
@media (max-width: 767px) {
  html[dir=rtl] header.black-page .mo-menu-open svg {
    -webkit-transform: none;
    transform: none;
    margin-left: 0;
    margin-right: 5px;
  }
}

.form-name {
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #979797;
  color: #ffffff;
  font-size: 24px;
  font-family: os-bold;
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .form-name {
    top: 109px;
    width: 100%;
  }
}

html[dir=rtl] .form-name {
  font-family: g-bold;
}

.main-sec {
  background-color: #f1f4f6;
  padding-top: 90px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .main-sec {
    padding-top: 27px;
    padding-bottom: 0;
  }
}
.main-sec .main {
  position: relative;
}
.main-sec .headres {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main-sec .headres {
    margin-bottom: 27px;
  }
}
.main-sec .main-head {
  color: #1b0e1c;
  font-family: os-bold;
  font-size: 32px;
  width: 0%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  transition: all 1.5s linear;
  margin-bottom: 16px;
  letter-spacing: -1px;
  padding: 1px 0;
}
@media (max-width: 767px) {
  .main-sec .main-head {
    font-size: 24px;
    width: 100%;
    overflow: unset;
    text-align: center;
    white-space: unset;
  }
}
.main-sec .sec-head {
  color: #1b0e1c;
  font-size: 24px;
  font-weight: 400;
  width: 0%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  transition: all 1s linear;
  padding: 1px 0;
}
@media (max-width: 767px) {
  .main-sec .sec-head {
    font-size: 16px;
    width: 100%;
    overflow: unset;
    text-align: center;
    white-space: unset;
    margin-top: 54px;
  }
}
.main-sec .openStyle {
  width: 100%;
}
.main-sec .desc-sec {
  width: 675px;
}
@media (max-width: 767px) {
  .main-sec .desc-sec {
    width: 100%;
  }
}
.main-sec .cards {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .main-sec .cards {
    width: 100%;
  }
}
.main-sec .cards .card-back {
  width: calc(50% - 12px);
  margin-right: 24px;
  margin-bottom: 24px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
.main-sec .cards .card-back:nth-of-type(2n) {
  margin-right: 0;
}
.main-sec .cards .card-back:hover {
  transform: translateY(-3px);
}
@media (max-width: 767px) {
  .main-sec .cards .card-back {
    margin-right: 18px;
    width: calc(50% - 9px);
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .main-sec .cards {
    padding: 0 30px;
  }
}
.main-sec .img-sec {
  position: absolute;
  right: -135px;
  top: 15px;
}
@media (max-width: 1199px) {
  .main-sec .img-sec {
    right: 50%;
    transform: translateX(100%);
    top: 0;
  }
}
@media (max-width: 767px) {
  .main-sec .img-sec {
    position: relative;
    transform: unset;
    right: auto;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(17px);
  }
  .main-sec .img-sec img {
    max-width: calc(100% + 30px);
  }
}
.main-sec .Payments {
  margin-top: 9px;
}
.main-sec .Payments .Payment-head {
  color: #1b0e1c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .main-sec .Payments .Payment-head {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main-sec .Payments {
    margin-top: 0;
  }
  .main-sec .Payments .Payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 23px;
  }
}

html[dir=rtl] .main-sec .main-head {
  font-family: g-bold;
  text-align: right;
}
@media (max-width: 767px) {
  html[dir=rtl] .main-sec .main-head {
    font-size: 24px;
    width: 100%;
    overflow: unset;
    text-align: center;
    white-space: unset;
  }
}
html[dir=rtl] .main-sec .sec-head {
  text-align: right;
  font-family: gulf;
}
@media (max-width: 767px) {
  html[dir=rtl] .main-sec .sec-head {
    font-size: 16px;
    width: 100%;
    overflow: unset;
    text-align: center;
    white-space: unset;
    margin-top: 54px;
  }
}
html[dir=rtl] .main-sec .cards .card-back {
  margin-right: 0;
  margin-left: 24px;
}
html[dir=rtl] .main-sec .cards .card-back:nth-of-type(2n) {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  html[dir=rtl] .main-sec .cards .card-back {
    margin-left: 18px;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  html[dir=rtl] .main-sec .cards {
    padding: 0 30px;
  }
}
html[dir=rtl] .main-sec .img-sec {
  right: auto;
  left: -135px;
}
@media (max-width: 1199px) {
  html[dir=rtl] .main-sec .img-sec {
    right: auto;
    left: -135px;
    transform: translateX(-100%);
  }
}
@media (max-width: 767px) {
  html[dir=rtl] .main-sec .img-sec {
    position: relative;
    transform: unset;
    right: auto;
    left: auto;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(17px);
  }
  html[dir=rtl] .main-sec .img-sec img {
    max-width: calc(100% + 30px);
  }
}
html[dir=rtl] .main-sec .Payments {
  text-align: right;
}
html[dir=rtl] .main-sec .Payments .Payment-head {
  font-family: gulf;
  font-weight: unset;
}

.guaranties-cont {
  background-color: #331d34;
  padding-top: 100px;
  padding-bottom: 55px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .guaranties-cont {
    padding-top: 56px;
    padding-bottom: 0;
  }
}
.guaranties-cont .guaranties-header {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .guaranties-cont .guaranties-header {
    text-align: center;
    margin-bottom: 58px;
  }
}
.guaranties-cont .guaranties {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .guaranties-cont .guaranties {
    flex-direction: column;
  }
}
.guaranties-cont .guarantie {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  margin-top: 37px;
  cursor: default;
}
@media (max-width: 992px) {
  .guaranties-cont .guarantie {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .guaranties-cont .guarantie {
    width: 100%;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .guaranties-cont .guarantie div {
    margin-left: 17px;
  }
}
.guaranties-cont .guarantie .guarantie-head {
  color: #ffffff;
  font-size: 16px;
  font-family: os-bold;
  margin-top: 18px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .guaranties-cont .guarantie .guarantie-head {
    margin: 5px 0;
    padding-left: 41px;
  }
}
.guaranties-cont .guarantie .guarantie-desc {
  color: #ffffff;
  font-size: 16px;
  font-family: os-light;
}
.guaranties-cont .about {
  position: relative;
}
.guaranties-cont .about-desc-cont {
  margin-top: 82px;
}
.guaranties-cont .about-desc-cont .about-header {
  color: #ffffff;
  font-size: 25px;
  font-family: os-semibold;
}
@media (max-width: 767px) {
  .guaranties-cont .about-desc-cont .about-header {
    text-align: center;
  }
}
.guaranties-cont .about-desc-cont .about-desc {
  color: #ffffff;
  font-size: 16px;
  width: 470px;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .guaranties-cont .about-desc-cont .about-desc {
    width: 100%;
  }
}
.guaranties-cont .about-img {
  position: absolute;
  right: -55px;
  top: -40px;
}
@media (max-width: 767px) {
  .guaranties-cont .about-img {
    position: relative;
    right: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translateY(50px);
  }
  .guaranties-cont .about-img img {
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
  }
}

html[dir=rtl] .guaranties-cont {
  text-align: right;
}
html[dir=rtl] .guaranties-cont .guaranties-header {
  font-family: g-bold;
  font-weight: unset;
}
html[dir=rtl] .guaranties-cont .guaranties {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  html[dir=rtl] .guaranties-cont .guaranties {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  html[dir=rtl] .guaranties-cont .guarantie div {
    margin-right: 17px;
    margin-left: 0;
  }
}
html[dir=rtl] .guaranties-cont .guarantie .guarantie-head {
  font-family: g-bold;
}
@media (max-width: 767px) {
  html[dir=rtl] .guaranties-cont .guarantie .guarantie-head {
    padding-left: 0;
    padding-right: 41px;
  }
}
html[dir=rtl] .guaranties-cont .guarantie .guarantie-desc {
  font-family: gulf;
}
html[dir=rtl] .guaranties-cont .about-desc-cont {
  margin-top: 82px;
}
html[dir=rtl] .guaranties-cont .about-desc-cont .about-header {
  font-size: 24px;
  font-family: g-bold;
  font-weight: 700;
}
html[dir=rtl] .guaranties-cont .about-img {
  right: auto;
  left: -55px;
}
@media (max-width: 767px) {
  html[dir=rtl] .guaranties-cont .about-img {
    left: auto;
    right: auto;
  }
}

.about-main {
  background-color: #f1f4f6;
  padding-top: 77px;
}
@media (max-width: 767px) {
  .about-main {
    padding-top: 62px;
  }
}

.yalla-desc {
  width: 565px;
  color: #1b0e1c;
}
@media (max-width: 767px) {
  .yalla-desc {
    width: 100%;
  }
}
.yalla-desc .yalla {
  color: #1b0e1c;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .yalla-desc .yalla {
    margin-bottom: 15px;
  }
}
.yalla-desc .yalla-info {
  color: #1b0e1c;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

html[dir=rtl] .yalla-desc .yalla {
  font-weight: unset;
  font-family: g-bold;
  text-align: right;
}
html[dir=rtl] .yalla-desc .yalla-info {
  font-family: g-med;
  font-weight: unset;
  text-align: right;
}

.about-page-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 21px;
}
@media (max-width: 767px) {
  .about-page-content {
    flex-direction: column;
    margin-top: 78px;
  }
}
.about-page-content ._first-sec {
  width: 570px;
  padding-top: 47px;
  padding-right: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .about-page-content ._first-sec {
    width: 100%;
    padding-right: 0;
  }
}
.about-page-content ._sec-sec {
  width: 571px;
  background-color: #fff;
  border-radius: 10px;
  padding: 47px 50px 27px;
}
@media (max-width: 767px) {
  .about-page-content ._sec-sec {
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 9;
  }
}
.about-page-content .sec-head {
  color: #331d34;
  font-size: 24px;
  font-family: os-bold;
  margin-bottom: 34px;
}
.about-page-content .sec-desc {
  color: #331d34;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 34px;
  position: relative;
  z-index: 9;
}
.about-page-content .about-pattern {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

html[dir=rtl] .about-page-content {
  text-align: right;
}
html[dir=rtl] .about-page-content ._first-sec {
  padding-right: 0;
  padding-left: 30px;
}
@media (max-width: 767px) {
  html[dir=rtl] .about-page-content ._first-sec {
    width: 100%;
    padding: 0;
  }
}
html[dir=rtl] .about-page-content .sec-head {
  font-family: g-bold;
}
html[dir=rtl] .about-page-content .sec-desc {
  font-family: gulf;
}

.guaranties-cont.about-page {
  padding-top: 0;
  background-color: #f1f4f6;
}
@media (max-width: 767px) {
  .guaranties-cont.about-page {
    padding-top: 40px;
  }
}
.guaranties-cont.about-page .guaranties-header {
  color: #331d34;
  position: relative;
  z-index: 9;
}
@media (max-width: 767px) {
  .guaranties-cont.about-page .guaranties-header {
    text-align: left;
    margin-bottom: 35px;
  }
}
.guaranties-cont.about-page .guaranties {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .guaranties-cont.about-page .guaranties {
    flex-direction: column;
  }
}
.guaranties-cont.about-page .guarantie {
  color: #331d34;
}
.guaranties-cont.about-page .guarantie .guarantie-head {
  color: #331d34;
}
.guaranties-cont.about-page .guarantie .guarantie-desc {
  color: #331d34;
}
@media (max-width: 767px) {
  .guaranties-cont.about-page .guarantie {
    margin-bottom: 40px;
  }
}
.guaranties-cont .about-footer-pattern {
  display: flex;
  margin: 74px auto 116px;
}
@media (max-width: 767px) {
  .guaranties-cont .about-footer-pattern {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  html[dir=rtl] .guaranties-cont.about-page .guaranties-header {
    text-align: right;
  }
}

footer {
  background-color: #f1f4f6;
}
footer .footer-cont {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .footer-cont {
    justify-content: center;
    height: 98px;
  }
}
footer .foot-nav {
  height: 120px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  footer .foot-nav {
    display: none;
  }
}
footer .foot-nav-li {
  margin-right: 75px;
}
footer .foot-nav-anchor {
  color: #331d34;
  font-size: 16px;
  font-weight: 400;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .foot-nav-anchor:hover {
  color: #f48d65;
}
footer .mobilefooter {
  color: #1b0e1c;
  font-size: 16px;
  font-weight: 400;
  font-family: os;
  direction: ltr;
}
@media (max-width: 767px) {
  footer .mobilefooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html[dir=rtl] footer .foot-nav-li {
  margin-left: 75px;
  margin-right: 0;
}
html[dir=rtl] footer .foot-nav-anchor {
  font-weight: unset;
}
html[dir=rtl] footer .mobilefooter {
  color: #1b0e1c;
  font-size: 16px;
  font-weight: 400;
  font-family: os;
  direction: ltr;
}
@media (max-width: 767px) {
  html[dir=rtl] footer .mobilefooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
html[dir=rtl] footer.black-page {
  background-color: #331d34;
}
html[dir=rtl] footer.black-page .foot-nav-anchor {
  color: #fff;
}
html[dir=rtl] footer.black-page .mobilefooter {
  color: #fff;
}

footer.black-page {
  background-color: #331d34;
}
footer.black-page .foot-nav-anchor {
  color: #fff;
}
footer.black-page .mobilefooter {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
