.modal-cont {
    background-color: rgba(51, 29, 52, 0.95);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background-color: rgba(#331d34, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #f48d65;
    }

    .container {
        height: 100%;
    }

    .add-modal-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        &.bayes {
            padding-top: 99px;
        }
    }

    .close-add-modal {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        cursor: pointer;
        z-index: 99;

        @include md {
            top: 25px
        }

        path {
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            path {
                fill: $orange
            }
        }
    }

    .add-modal {
        width: 529px;
        border-radius: 10px;
        background-color: #ffffff;
        transform: translateY(-127%);
        @include transition(all 0.5s ease-in-out);
        z-index: 99;
        margin-bottom: 25px;


        &.show-modal {
            transform: translateY(0);
        }

        @include md {
            width: 529px;
            margin-top: 50px;

            &:first-of-type {
                margin-top: 150px;
            }
        }

        @include xs {
            width: 100%;
            margin-top: 50px;

            &:first-of-type {
                margin-top: 150px;
            }
        }

        .new-credit-card-method {
            padding: 0 40px 30px;
            border-radius: 0 0 10px 10px;
        }

        .add-modal-head {
            height: 70px;
            border-radius: 10px 10px 0 0;
            background-color: #f1f4f6;
            display: flex;
            align-items: center;
            padding: 0 45px;
            color: #1b0e1c;
            font-family: os-bold;
            font-size: 16px;
            justify-content: center;
            text-align: center;
            align-items: center;

            &.with-img {
                justify-content: flex-start;

                @include md {
                    padding: 0 5px;
                }

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}

html[dir="rtl"] .modal-cont {

    .add-modal {


        .add-modal-head {

            font-family: g-bold;

            &.with-img {
                justify-content: flex-start;

                @include md {
                    padding: 0 5px;
                }

                img {
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}