.nav_list {
    display: flex;
    align-items: center;
    margin-left: 178px;

    @include md {
        margin-left: 50px;
    }

    @include xs {
        display: none;
    }

    .nav-item {
        margin-right: 53px;

        .nav-anchor {
            color: $text;
            font-size: 16px;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                color: $orange;

            }
        }

        .register {
            width: 141px;
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 1px 0 #000000;
            -webkit-box-shadow: 0 1px 0 #000000;
            -moz-box-shadow: 0 1px 0 #000000;
            background-color: $blue;
            border-radius: 5px;
            background-color: #211026;
            color: #fdfcfc;

            &:hover {
                color: #fff;
                background-color: $orange;
                box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
                -webkit-box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
                -moz-box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
            }
        }

        @include md {
            margin-right: 40px;
        }
    }
}

html[dir='rtl'] .nav_list {
    margin-left: 0;
    margin-right: 178px;

    @include md {
        margin-left: 0;
        margin-right: 50px;
    }

    .nav-item {
        margin-left: 53px;
        margin-right: 0;

        .nav-anchor {
            font-family: gulf;
            font-size: 16px;
        }
    }
}