@font-face {
    font-family: 'gulf';
    src: url('../fonts/Gulf/ArbFONTS-Gulf-regular.ttf');
}

@font-face {
    font-family: 'g-med';
    src: url('../fonts/Gulf/Gulf-Medium.ttf');
}

@font-face {
    font-family: 'g-bold';
    src: url('../fonts/Gulf/Gulf-Bold.ttf');
}

@font-face {
    font-family: 'os';
    src: url('../fonts/Opensans/OpenSans.ttf');
}

@font-face {
    font-family: 'os-light';
    src: url('../fonts/Opensans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'os-semibold';
    src: url('../fonts/Opensans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'os-bold';
    src: url('../fonts/Opensans/OpenSans-Bold.ttf');
}