._2step-cont {
    background-color: $back;
    padding-top: 55px;
    padding-bottom: 100px;

    @include xs {
        padding-bottom: 75px;
    }

    &.Activated {
        ._2step-haed {
            border-radius: 10px;
        }
    }

    .navigatback {
        width: 570px;

        @include xs {
            width: 100%;
        }
    }

    .loged-page-head {
        width: 570px;

        @include xs {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }

    ._2step-main {
        width: 570px;
        position: relative;
        margin: auto;
        border-radius: 10px;

        @include xs {
            width: 100%;
        }

        &::before {
            content: "";
            height: 7px;
            border-radius: 3px;
            background-color: #f48d65;
            width: 248px;
            display: block;
            position: absolute;
            right: 50%;
            top: 0;
            transform: translate(50%, -50%);
        }
    }

    ._2step-haed {
        background-color: $blue;
        padding: 37px;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xs {
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }
    }

    .google-info-desc {
        color: #ffffff;
        font-size: 16px;
        font-family: os-light;
        max-width: 340px;

        @include xs {
            margin-top: 15px;
        }
    }

    ._2step-body {
        border-radius: 0 0 10px 10px;
        background-color: #fff;
        padding: 25px 50px 60px;

        @include xs {
            padding: 20px 10px 30px;
        }
    }

    .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .step-num {
        min-width: 38px;
        min-height: 37px;
        border-radius: 5px;
        background-color: #331d34;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Arial;
        font-size: 16px;
        margin-right: 17px;

        @include xs {
            width: 31px;
            height: 30px;
            margin-right: 15px;
        }
    }

    .step-body-head {
        color: #331d34;
        font-family: os-light;
        font-size: 16px;
        position: relative;
        width: 380px;

        @include xs {
            width: 100%;
        }

        a.add {
            position: absolute;
            top: 0;
            right: -30px;
            width: 37px;
            height: 37px;
            border-radius: 4px;
            background-color: #f27036;
            color: #ffffff;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                background-color: $blue;
            }

            @include xs {
                display: none;
            }
        }
    }

    .other {
        margin-top: 20px;
    }

    .qr {
        @include xs {
            text-align: center;
        }
    }

    .download {
        display: flex;
        align-items: center;

        @include xs {
            flex-direction: column;
        }
    }

    .appdownload {
        display: flex;
        align-items: center;
        text-align: center;
        width: 135px;
        height: 41px;
        border-radius: 3px;
        background-color: #331d34;
        padding: 0 3px;
        @include transition(all 0.3s ease-in-out);
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
            background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
            z-index: 999;
            cursor: pointer;
        }

        &:hover {
            &:after {
                -webkit-animation: shape 0.5s linear;
                animation: shape 0.5s linear;
            }
        }

        .store-sign {
            margin: 0 9px;
        }

        .download-now {
            color: #ffffff;
            display: block;
            font-size: 8px;
            text-align: center;
        }

        .store-name {
            color: #ffffff;
            font-size: 14px;
        }

        &.google {
            margin: 0 15px;

            @include xs {
                margin-top: 15px;
            }
        }

        .store-name-sec {
            display: flex;
            flex-direction: column;
        }


    }

    .code-input {
        width: 148px;
        height: 50px;
        position: relative;

        .form-input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-bottom: 1px solid #1b0e1c;
            color: $text;
            font-size: 16px;
            padding: 0 15px;
            -moz-appearance: textfield;
            transition: 0.2s ease all;
            text-align: left;

            &:focus {
                border-color: $orange;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .floating-label {
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $text;
            font-family: os-bold;
            font-size: 16px;
            transition: 0.2s ease all;
        }

        .label-active {
            top: 0;
            left: 0;
            font-size: 13px;
            color: #fff;
            color: $blue;
        }
    }

    .enable {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 58px;
        box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
        border-radius: 5px;
        background-color: #f27036;
        @include transition(all 0.3s ease-in-out);
        font-size: 16px;
        color: #fff;
        margin-right: 15px;
        margin-top: 30px;

        &:focus,
        &:hover {
            background-color: $text;
            border: 1px solid #665e71;
            box-shadow: none;
        }

        @include xs {
            margin: 0;
            width: 100%;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 21px;
        margin-top: 30px;
        margin-bottom: 5px;

        @include xs {
            text-align: right;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked {
                &+.slider {
                    background-color: #3d9635;

                    &:before {
                        -webkit-transform: translateX(-30px);
                        -ms-transform: translateX(-30px);
                        transform: translateX(-30px);
                    }
                }
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 10px;

            &:before {
                position: absolute;
                content: "";
                width: 21px;
                height: 21px;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
        }
    }

    .active-date {
        color: #ffffff;
        font-family: os-light;
        font-size: 12px;

        @include xs {
            text-align: center;
        }
    }
}

html[dir="rtl"] ._2step-cont {
    ._2step-haed {
        text-align: right;

        @include xs {
            text-align: center;
        }
    }

    .google-info-desc {
        font-family: g-light;
        max-width: 320px;
    }

    .step-num {
        margin-right: 0;
        margin-left: 17px;

        @include xs {
            margin-right: 0;
            margin-left: 15px;
        }
    }

    .step-body-head {
        text-align: right;


        a.add {
            left: -30px;
            right: auto;

            @include xs {
                display: none;
            }
        }
    }

    .qr {
        text-align: right;

        @include xs {
            text-align: center;
        }
    }

    .download {
        display: flex;
        align-items: center;
    }

    .appdownload {

        .download-now {
            direction: ltr;
        }

        .store-name {
            font-family: os;
        }

    }

    .code-input {
        .form-input {
            text-align: right;
        }

        .floating-label {
            right: 0;
            left: auto;
            font-family: g-bold;
        }

        .label-active {
            right: 0;
            left: auto;
        }
    }

    .enable {
        margin-right: 0;
        margin-left: 15px;
    }

    .switch {

        input {
            &:checked {
                &+.slider {


                    &:before {
                        -webkit-transform: translateX(30px);
                        -ms-transform: translateX(30px);
                        transform: translateX(30px);
                    }
                }
            }
        }

        .slider {
            &:before {
                left: 0;
                right: auto;
            }
        }

        @include xs {
            text-align: right;
        }
    }

    .active-date {
        text-align: right;
        font-family: g-light;

        @include xs {
            text-align: center;
        }
    }
}

.goto {
    svg {
        @include transition(all 0.3s ease-in-out);
        margin-bottom: 20px;
        transform: rotate(180deg);

        path {
            fill: #1b0e1c;
            @include transition(all 0.3s ease-in-out);
        }
    }

    &:hover {
        svg {
            path {
                fill: #f48d65;
            }
        }
    }
}

html[dir="rtl"] .goto {
    svg {
        transform: none;
    }
}