.about-main {
    background-color: $back;
    padding-top: 77px;

    @include md {
        padding-top: 62px;
    }
}

.yalla-desc {
    width: 565px;
    color: $text;

    @include md {
        width: 100%;
    }

    .yalla {
        color: #1b0e1c;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;

        @include md {
            margin-bottom: 15px;
        }
    }

    .yalla-info {
        color: #1b0e1c;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
}

html[dir='rtl'] .yalla-desc {
    width: 569px;

    @include md {
        width: 100%;
    }

    .yalla {
        font-weight: unset;
        font-family: g-bold;
        text-align: right;
    }

    .yalla-info {
        font-family: g-med;
        font-weight: unset;
        text-align: right;

    }
}

.about-page-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 21px;

    @include md {
        flex-direction: column;
        margin-top: 78px;
    }

    ._first-sec {
        width: 570px;
        padding-top: 47px;
        padding-right: 30px;
        position: relative;

        @include md {
            width: 100%;
            padding-right: 0;
        }
    }

    ._sec-sec {
        width: 571px;
        background-color: #fff;
        border-radius: 10px;
        padding: 47px 50px 27px;

        @include md {
            width: 100%;
            margin-top: 16px;
            position: relative;
            z-index: 9;
            padding: 32px;
        }
    }

    .sec-head {
        color: $blue;
        font-size: 24px;
        font-family: os-bold;
        margin-bottom: 34px;
    }

    .sec-desc {
        color: $blue;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 34px;
        position: relative;
        z-index: 9;
    }

    .about-pattern {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

html[dir='rtl'] .about-page-content {
    text-align: right;

    ._first-sec {
        padding-right: 0;
        padding-left: 30px;

        @include md {
            width: 100%;
            padding: 0;
        }
    }

    .sec-head {
        font-family: g-bold;
    }

    .sec-desc {
        font-family: gulf;
    }
}

.guaranties-cont {
    &.about-page {
        padding-top: 0;
        background-color: $back;

        @include md {
            padding-top: 40px;
        }

        .guaranties-header {
            color: $blue;
            position: relative;
            z-index: 9;

            @include md {
                text-align: left;
                margin-bottom: 35px;
            }
        }

        .guaranties {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include md {
                flex-direction: column;
            }
        }

        .guarantie {
            color: $blue;

            .guarantie-head {
                color: $blue;
                margin-top: 25px;
            }

            .guarantie-desc {
                color: $blue;
            }

            @include md {
                margin-bottom: 40px;
                flex-direction: column;

                .guarantie-info {
                    margin: 0;
                }
            }
        }

    }

    .about-footer-pattern {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 74px 0 116px;
        overflow: hidden;

        @include md {
            margin: 30px 30px 70px;
        }
    }
}


html[dir='rtl'] .guaranties-cont {
    &.about-page {
        .guaranties-header {

            @include md {
                text-align: right;
            }
        }

        .guarantie {
            color: $blue;

            .guarantie-head {
                color: $blue;
            }

            .guarantie-desc {
                color: $blue;
            }

            @include md {
                margin-bottom: 40px;
                flex-direction: column;

                .guarantie-desc {
                    margin: 0;
                }
            }
        }
    }
}

/////////