.info-card-cont {
    background-color: $blue;
    color: #fff;
    padding-top: 85px;
    padding-bottom: 132px;

    .input-label {
        width: 100%;
        height: 50px;
        position: relative;
        margin-top: 40px;

        &:first-of-type {
            margin-top: 40px;
        }

        &.log-in-pass {
            margin-top: 40px;
        }

    }

    .form-input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 16px;
        padding: 0 15px;
        -moz-appearance: textfield;
        transition: 0.2s ease all;
        text-align: left;
    }

    .form-input:focus {
        border-bottom: 2px solid $orange;
    }

    .form-input::-webkit-inner-spin-button,
    .form-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 16px;
        transition: 0.2s ease all;
    }

    .label-active {
        top: 0;
        left: 0;
        font-size: 13px;
        color: #fff;
    }

    .note {
        color: #fff;
        font-family: os-light;
        font-size: 13px;
        display: block;
        margin-top: 10px;

        &.errornote {
            color: #f37170;
            display: none;
        }
    }

    @include xs {
        padding-top: 60px;
        padding-bottom: 0;
    }
}

.cancel-card {
    @include xs {
        display: none;
    }
}

.add-data {
    width: 445px;

    @include xs {
        width: 100%;
    }
}

.info-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.info-head {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;

    @include xs {
        font-size: 24px;
    }
}

.country {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .countries-cont {

        .selected-conutry {
            flex-direction: row-reverse;

            @include xs {
                display: flex;

                .arrow {
                    background-color: transparent;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        .other-countries {
            left: 0;
            right: auto;

            li {
                cursor: pointer;
            }
        }
    }
}

.country-head {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    margin-right: 33px;

    @include xs {
        font-size: 16px;
    }
}

.choose-amount {
    margin-top: 77px;
}

.amount-head {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.radios {
    display: flex;

    @include xs {
        flex-wrap: wrap;
    }
}

/* Customize the label (the radio-cont) */
.radio-cont {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 51px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 14px;

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #817682;
        background-color: transparent;
        color: #817682;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        @include transition(all 0.3s ease-in-out);
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:hover {
            &~.checkmark {
                background-color: #fff;
                border: 1px solid #fff;
            }
        }

        &:checked {
            &~.checkmark {
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
    }

    &.radio-disabled {
        overflow: unset;
        cursor: not-allowed;

        &:hover input~.checkmark {
            color: #331d34;
            background-color: #817682;
            border: 1px solid #817682;
        }

        .not-available {
            white-space: nowrap;

            display: flex;
            height: 35px;
            padding: 0 13.5px;
            color: #331d34;
            font-size: 14px;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%, -100%);
            opacity: 0;
            visibility: hidden;
            @include transition(all 0.3s ease-in-out);

            &:after {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                border-top-color: #fff;
                border-width: 6px;
            }
        }

        &:hover {
            .not-available {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include xs {
        width: calc(20% - 16px);
        margin-right: 19px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.other-amount {
    width: 116px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #817682 !important;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-appearance: textfield;
    transition: 0.3s ease all;
    text-align: center;
    color: #817682;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &::placeholder {
        color: #817682;
        font-size: 16px;
        font-weight: 400;

        @include xs {
            display: none;
        }
    }

    @include xs {
        display: flex;
        width: 100%;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-radius: 0;

        &:focus {
            border-bottom: 1px solid $orange !important;
        }
    }
}

.next-step {
    width: 100%;
    height: 57px;
    box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
    border-radius: 5px;
    background-color: #f27036;
    border: 1px solid #f27036;
    color: #fdfcfc;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(all 0.3s ease-in-out);
    margin-top: 49px;

    @include xs {
        margin-top: 42px
    }

    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid #665e71;
        box-shadow: none;
        color: #fdfcfc;
    }
}

.cancel-step {
    display: none;
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #665e71;
    color: #fdfcfc;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    @include transition(all 0.3s ease-in-out);
    margin-top: 29px;
    margin-bottom: 86px;

    &:hover,
    &:focus {
        background-color: #f27036;
        border: 1px solid #f27036;
        box-shadow: none;
        color: #fdfcfc;
    }

    @include xs {
        display: flex;
    }
}

.info-card-preview {
    margin-top: 45px;

    @include xs {
        display: none;
    }
}

.preview-data {
    position: relative;


    .preview-content {
        direction: ltr;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 68px 29px 51px 43px;

        .amount-pre {
            color: #331d34;
            font-size: 130px;
            font-weight: 400;
            line-height: 150px;
            margin-bottom: 24px;
        }

        .email-pre {
            color: #331d34;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 7px;
        }

        .currency {
            color: #331d34;
            font-size: 12px;
            line-height: 24px;
        }

        @include xs {
            .card-img {
                width: 105px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .slected-country-pre {
                width: 44px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    ._right-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.define-head {
    display: none;

    @include xs {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }
}

.info-card {
    .other-amount-label {
        margin-top: 0 !important;
        width: 116px;

        @include xs {
            width: 100%;
        }

        .floating-label {
            display: none;

            @include xs {
                display: block;
            }
        }
    }
}

.card-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: -21px;
    color: #ffffff;
    font-size: 12px;
    @include transition(all 0.3s ease-in-out);


    svg {
        margin-right: 7px;

        path {
            @include transition(all 0.3s ease-in-out);
        }
    }

    &:hover {
        color: $orange;

        svg {
            path {
                fill: $orange
            }
        }
    }

    @include xs {
        display: none;
    }
}

.goback {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    @include transition(all 0.3s ease-in-out);
    margin-bottom: 20px;
    display: inline-flex;

    svg {
        transform: rotate(180deg);
        margin-right: 8px;

        path {
            fill: #fff;
            @include transition(all 0.3s ease-in-out);
        }
    }

    &:hover {
        color: $orange;

        svg {
            path {
                fill: $orange
            }
        }
    }

    @include xs {
        font-size: 14px;
    }
}

.pay-card-cont {
    background-color: $blue;
    padding-top: 98px;
    padding-bottom: 200px;

    @include xs {
        padding-top: 59px;
        padding-bottom: 100px;
    }
}

.pay-card-preview {
    width: 100%;

    @include xs {
        margin-bottom: 19px;
    }

    .preview-content {
        @include xs {
            padding: 35px 23px 15px;

            ._left-sec {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .amount-pre {
                font-size: 75px;
                margin-top: 0;
                line-height: 50px;
            }

            .email-pre {
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
}

.pay-methods-cont {
    border-radius: 10px;
    overflow: hidden;
}

.card-head {
    border-radius: 10px 10px 0 0;
    background-color: #f1f4f6;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

    &.pay-card-head {
        justify-content: center;
    }

    &.method-card-head {
        padding: 0 70px;

        @include xs {
            padding: 0;
            justify-content: center;

        }

        .pay-methods-head {
            margin-left: 18px;
            margin-right: 26px;
        }

        .change-method {
            padding: 0 16px;
            height: 36px;
            border-radius: 5px;
            border: 1px solid #817682;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1b0e1c;
            font-size: 14px;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                background-color: $blue;
                color: #f1f4f6;
            }
        }
    }

    @include xs {
        height: 67px;
    }


}

.pay-methods-head {
    color: #1b0e1c;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.pay-methods {
    display: flex;
    flex-wrap: wrap;
}

.pay-method {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    height: 132px;
    color: #331d34;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
    @include transition(all 0.3s ease-in-out);

    img {
        margin-bottom: 13px;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        background-color: #fff;
        box-shadow: 1px 7px 21px rgba(151, 154, 169, 0.37);
        z-index: 99;
        color: $orange;
    }

    @include xs {
        height: 130px;
    }
}

.paypal-method {
    padding: 5px 70px 10px;
    background-color: #fff;

    @include xs {
        padding: 10px 23px 5px;
    }

    .method-info-desc {
        margin: 15px 0 20px;
        color: #1b0e1c;
        font-size: 16px;

        &.method-info-note {
            font-family: os-light;
            font-size: 13px;
        }
    }

    .goto-payoal {
        width: 100%;
        height: 58px;
        box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
        border-radius: 5px;
        background-color: #f27036;
        border: 1px solid #f27036;
        color: #fdfcfc;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all 0.3s ease-in-out);

        &:hover,
        &:focus {
            background-color: $blue;
            border: 1px solid #665e71;
            box-shadow: none;
            color: #fff;
        }
    }
}

.credit-methods {
    .back-method {
        flex-direction: row;

        svg {
            margin-right: 4px;
            transform: rotate(180deg);
            @include transition(all 0.3s ease-in-out);

            path {
                @include transition(all 0.3s ease-in-out);
            }
        }

        &:hover {
            svg {
                transform: translateX(-8px) rotate(180deg);

                path {
                    fill: $orange
                }
            }
        }
    }
}

html[dir='rtl'] {
    .info-card-cont {

        .form-input {
            text-align: right;
        }

        .floating-label {
            left: auto;
            right: 0;
        }

        .label-active {
            left: auto;
            right: 0;
        }

        .note {
            font-family: gulf;
            font-size: 12px;
            text-align: right;
        }

        @include xs {
            padding-top: 60px;
        }
    }

    .add-data {
        width: 450px;

        @include xs {
            width: 100%;
        }
    }

    .info-head {
        font-family: g-bold;
        font-weight: unset;
        text-align: right;

        @include xs {
            font-size: 24px;
        }
    }

    .country {
        .countries-cont {
            .other-countries {
                left: auto;
                right: 0;
            }
        }
    }

    .country-head {
        font-family: g-med;
        font-weight: unset;
        margin-left: 33px;
        margin-right: 0;
        text-align: right;

        @include xs {
            font-size: 16px;
        }
    }

    .amount-head {
        text-align: right;
    }

    .radio-cont {
        margin-left: 14px;
        margin-right: 0;

        @include xs {
            width: calc(20% - 16px);
            margin-right: 0;
            margin-left: 19px;

            &:last-of-type {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    .other-amount.form-input {
        text-align: center;

        @include xs {
            text-align: right;
        }
    }

    .preview-data {



        .preview-content {

            .amount-pre {
                font-family: Arial;
                font-weight: 500;
            }

        }
    }

    .card-info {
        direction: rtl;

        svg {
            margin-left: 7px;
            margin-right: 0
        }
    }

    .pay-card {
        text-align: right;

        .preview-content {
            text-align: left;
        }
    }

    .div {
        text-align: left;
    }

    .pay-methods-head {
        font-weight: unset;
        font-family: g-med;
    }

    .goback {


        svg {
            transform: none;
            margin-left: 8px;
            margin-right: 0;


        }

    }

    .card-head {

        &.method-card-head {

            .pay-methods-head {
                margin-left: 26px;
                margin-right: 18px;
                direction: ltr;

                @include xs {
                    margin: 0 10px;
                }
            }
        }

    }

    .paypal-method {
        .method-info-desc {

            &.method-info-note {
                font-family: gulf;
                font-size: 12px;
            }
        }

    }

    .credit-methods {
        .back-method {
            svg {
                margin-right: 0;
                margin-left: 4px;
                transform: none;
            }

            &:hover {
                svg {
                    transform: translateX(8px);

                }
            }
        }
    }

}