.confirm-cont {
    background-color: $blue;
    padding-top: 46px;
    padding-bottom: 100px;

    @include md {
        padding-top: 60px;
    }

    .confirm-body {
        width: 529px;
        margin: auto;

        @include md {
            width: 100%;
        }
    }

    .confirm-body-text {
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        line-height: 24px;

        @include md {
            margin-top: 25px;
        }
    }

    .confirm {
        margin-top: 25px;
    }

    .confirm-head {
        padding: 0 43px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        min-height: 120px;
        color: #1b0e1c;

        @include md {
            flex-direction: column;
            text-align: center;
            padding: 10px 0;
        }
    }

    .phone-ver {
        border-radius: 10px;
        color: #817682;
        background-color: transparent;
        min-height: 115px;
        border: 1px solid #817682;

        @include transition(all 0.3s ease-in-out);

        .phone-confirm-img {
            min-width: 37px;

            path {
                fill: #817682;
                @include transition(all 0.3s ease-in-out);
            }
        }

        &:hover {
            color: $orange;

            path {
                fill: $orange;
            }
        }
    }

    .confirm-img {
        @include md {
            margin-bottom: 10px;
        }
    }

    .email-confirm-img {
        min-width: 61px;
    }

    .confirm-desc {

        font-family: os-bold;
        font-size: 16px;
        margin: 0 19px;

        @include md {
            margin-top: 10px;
        }
    }


    .desc-text {
        font-family: os-semibold;

        @include md {
            margin-top: 10px;
        }
    }

    .confirm-inner-body {
        padding: 30px 43px;
        background-color: $back;
        border-radius: 0 0 10px 10px;

        @include md {
            padding: 15px;
        }
    }

    .inner-dashed-pre {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 48px;
        border-radius: 5px;
        border: 1px dashed #817682;
        color: #665e71;
        font-family: os;
        font-size: 16px;
        cursor: default;
        @include transition(all 0.3s ease-in-out);


        &:hover {
            border-color: $orange;
        }
    }

    .send-again {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        box-shadow: 0 1px 0 #000000;
        -webkit-box-shadow: 0 1px 0 #000000;
        -moz-box-shadow: 0 1px 0 #000000;
        border-radius: 5px;
        background-color: #211026;
        @include transition(all 0.3s ease-in-out);
        font-size: 16px;
        color: #fff;
        margin-top: 22px;

        &:focus,
        &:hover {
            -webkit-box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
            -moz-box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
            box-shadow: 0 1px 0 #000000, inset 0 1px 1px #ff996c;
            background-color: #f27036;
        }
    }

    ._2nd_confirm_sec {
        width: 529px;
        margin: auto;
        margin-top: 25px;

        @include md {
            width: 100%;
        }
    }

    .confirm-done {
        .confirm-head {
            border-radius: 10px;
        }

        .desc-text {
            font-family: os;
        }
    }

    .code-input {
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 10px;

        .form-input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-bottom: 1px solid #1b0e1c;
            color: $text;
            font-size: 16px;
            padding: 0 15px;
            -moz-appearance: textfield;
            transition: 0.2s ease all;
            text-align: left;

            &:focus {
                border-color: $orange;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .floating-label {
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $text;
            font-family: os-bold;
            font-size: 16px;
            transition: 0.2s ease all;
        }

        .label-active {
            top: 0;
            left: 0;
            font-size: 13px;
            color: #fff;
            color: $blue;
        }
    }

    .inner-mobile-pre {
        margin-bottom: 20px;
    }

    .confirm-send-tool {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 34px;
    }

    .send-mobile-code {
        width: 118px;
        height: 33px;
        border-radius: 4px;
        border: 1px solid #665e71;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        color: #665e71;
        font-size: 12px;

        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: $orange;
            border-color: $orange;
            color: #fff;
        }
    }

    .adds-tools {
        margin-top: 44px;
        display: flex;

        @include md {
            width: 100%;
            flex-direction: column;
        }
    }

    .adds-btn {
        width: 50%;
        height: 57px;
        border-radius: 4px;
        border: 1px solid #665e71;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #665e71;
        font-size: 16px;

        @include transition(all 0.3s ease-in-out);

        @include md {
            width: 100%;
        }

        &:hover {
            background-color: $orange;
            border-color: $orange;
            color: #fff;
        }

        &:last-of-type {
            margin-left: 27px;

            @include md {
                margin: 20px 0 0;
            }
        }
    }
}

html[dir="rtl"] .confirm-cont {
    text-align: right;

    .confirm-desc {
        font-family: g-bold;
    }


    .desc-text {
        font-family: g-med;
    }

    .confirm-done {

        .desc-text {
            font-family: os;
        }
    }

    .code-input {
        .form-input {
            text-align: right;
        }

        .floating-label {
            right: 0;
            left: auto;
            font-family: g-bold;
        }

        .label-active {
            right: 0;
            left: auto;
        }
    }

    .adds-btn {
        &:last-of-type {
            margin-right: 27px;
            margin-left: 0;

            @include md {
                margin: 20px 0 0;
            }
        }
    }
}

.confirm-name {
    @include md {
        margin-top: 15px;
    }
}