.main-sec {
    background-color: $back;
    padding-top: 90px;
    padding-bottom: 80px;

    @include xs {
        padding-top: 27px;
        padding-bottom: 0;
    }

    .main {
        position: relative;
    }

    .headres {
        margin-bottom: 40px;

        @include xs {
            margin-bottom: 27px;
        }
    }

    .main-head {
        color: $text;
        font-family: os-bold;
        font-size: 32px;
        width: 0%;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        pointer-events: none;
        transition: all 1.5s linear;
        margin-bottom: 16px;
        letter-spacing: -1px;
        padding: 1px 0;

        @include xs {
            font-size: 24px;
            width: 100%;
            overflow: unset;
            text-align: center;
            white-space: unset;
        }
    }

    .sec-head {
        color: $text;
        font-size: 24px;
        font-weight: 400;
        width: 0%;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        pointer-events: none;
        transition: all 1s linear;
        padding: 1px 0;

        @include xs {
            font-size: 16px;
            width: 100%;
            overflow: unset;
            text-align: center;
            white-space: unset;
            margin-top: 0;
        }
    }

    .openStyle {
        width: 100%;
    }

    .desc-sec {
        width: 675px;

        @include xs {
            width: 100%;
        }
    }

    .cards {
        width: 320px;
        display: flex;
        flex-wrap: wrap;

        @include xs {
            width: 100%;
        }

        .card {
            width: calc(50% - 7px);
            margin-right: 14px;
            margin-bottom: 14px;
            background-color: transparent;
            @include transition(all 0.3s ease-in-out);
            backface-visibility: hidden;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            &:hover {
                transform: translateY(-3px);
            }


            @include xs {
                margin-right: 8px;
                width: calc(50% - 4px);
                margin-bottom: 19px;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        @include xs {
            padding: 0 30px;
        }
    }

    .img-sec {
        position: absolute;
        right: -135px;
        top: 0px;

        @include md {
            right: 50%;
            transform: translateX(100%);
            top: 0;
        }

        @include xs {
            position: relative;
            transform: unset;
            right: auto;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(17px);

            img {
                max-width: calc(100% + 30px);
            }
        }
    }

    .Payments {
        margin-top: 9px;

        .Payment-head {
            color: $text;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 15px;

            @include xs {
                text-align: center;
            }
        }

        @include xs {
            margin-top: 0;

            .Payment-methods {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                margin-bottom: 23px;
            }
        }
    }
}

html[dir='rtl'] .main-sec {

    .main-head {
        font-family: g-bold;
        text-align: right;

        @include xs {
            font-size: 24px;
            width: 100%;
            overflow: unset;
            text-align: center;
            white-space: unset;
        }
    }

    .sec-head {
        text-align: right;
        font-family: gulf;

        @include xs {
            font-size: 16px;
            width: 100%;
            overflow: unset;
            text-align: center;
            white-space: unset;
        }
    }

    .cards {

        .card {
            margin-right: 0;
            margin-left: 14px;

            &:nth-of-type(2n) {
                margin-left: 0;
                margin-right: 0;
            }

            @include xs {
                margin-left: 08px;
                margin-right: 0;
            }
        }

        @include xs {
            padding: 0 30px;
        }
    }

    .img-sec {
        right: auto;
        left: -135px;

        @include md {
            right: auto;
            left: -135px;
            transform: translateX(-50%);
        }

        @include xs {
            position: relative;
            transform: unset;
            right: auto;
            left: auto;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(17px);

            img {
                max-width: calc(100% + 30px);
            }
        }
    }


    .Payments {
        text-align: right;

        .Payment-head {
            font-family: gulf;
            font-weight: unset;
        }
    }

}

.guaranties-cont {
    background-color: $blue;
    padding-top: 100px;
    padding-bottom: 55px;
    overflow: hidden;

    @include xs {
        padding-top: 56px;
        padding-bottom: 0;
    }

    .guaranties-header {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;

        @include xs {
            text-align: center;
            margin-bottom: 58px;
        }
    }

    .guaranties {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xs {
            flex-direction: column;
        }
    }

    .guarantie {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: flex-start;
        justify-content: flex-start;
        width: 300px;
        margin-top: 37px;
        cursor: default;

        @include sm {
            width: 30%;
        }

        @include xs {
            width: 100%;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 74px;

            div {
                margin-left: 17px;

            }
        }

        .guarantie-head {
            color: #ffffff;
            font-size: 16px;
            font-family: os-bold;
            margin-top: 18px;
            margin-bottom: 22px;

            @include xs {
                margin: 5px 0;
            }
        }

        .guarantie-desc {
            color: #ffffff;
            font-size: 16px;
            font-family: os-light;

            @include xs {
                margin-top: 30px;
            }
        }
    }

    .about {
        position: relative;
    }

    .about-desc-cont {
        margin-top: 82px;

        @include xs {
            margin-top: 0;
        }


        .about-header {
            color: #ffffff;
            font-size: 25px;
            font-family: os-semibold;

            @include xs {
                text-align: center;
            }
        }

        .about-desc {
            color: #ffffff;
            font-size: 16px;
            width: 470px;
            margin-top: 32px;

            @include xs {
                width: 100%;
                text-align: center;
            }
        }
    }

    .about-img {
        position: absolute;
        right: -55px;
        top: -40px;

        @include xs {
            position: relative;
            right: auto;
            top: auto;
            align-items: center;
            justify-content: center;
            display: flex;
            transform: translateY(50px);

            img {
                width: calc(100% + 30px);
                max-width: calc(100% + 30px);
            }
        }
    }
}

html[dir='rtl'] .guaranties-cont {
    text-align: right;


    .guaranties-header {
        font-family: g-bold;
        font-weight: unset;
    }

    .guaranties {
        flex-direction: row-reverse;
        align-items: flex-start;

        @include xs {
            flex-direction: column-reverse;
        }
    }

    .guarantie {

        @include xs {
            div {
                margin-right: 17px;
                margin-left: 0;
            }
        }

        .guarantie-head {
            font-family: g-bold;
        }

        .guarantie-desc {
            font-family: gulf;
        }
    }

    .about-desc-cont {
        margin-top: 82px;


        .about-header {
            font-size: 24px;
            font-family: g-bold;
            font-weight: 700;
        }

        @include xs {
            margin-top: 0;
        }
    }

    .about-img {
        right: auto;
        left: -55px;

        @include xs {
            left: auto;
            right: auto;
        }
    }
}

div.guarantie-img {
    @include xs {
        margin: 0 !important;
        width: 33px;
        min-width: 33px;
        max-width: 33px;
    }
}

.loged-page-head {
    color: #1b0e1c;
    font-size: 24px;
    width: 529px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 34px;
    font-family: 'os-semibold';

    @include xs {
        width: 100%;
    }
}

html[dir='rtl'] .loged-page-head {
    font-family: g-bold;
}

.conutry {
    display: flex;
    align-items: center;
}